<p>table works!</p>
<div>
    <table border="1px">
      <tr>
        <th>Body</th>
        <th>Id</th>
        <th>Title</th>
        <th>UserId</th>
        <!-- <th>Action</th>
        <th>Update</th> -->
      </tr>
      <tr *ngFor="let arr of formArr">
        <td>{{arr.body}}</td>
        <td>{{arr.id}}</td>
        <td>{{arr.title}}</td>
        <td>{{arr.UserId}}</td>        
        <!-- <td><button (click)="remove(arr)">Remove</button></td>
        <button (click)="negateToForm(arr)">Edit</button> -->
      </tr>
     

      </table>
      </div>



<!-- <p>table works!</p>
<div>
    <table border="1px">
      <tr>
        <th>First Name</th>
        <th>Last name</th>
        <th>Dropdown</th>
        <th>Religion</th>
        <th>Date</th>
        <th>Checkbox</th>
        <th>Action</th>
        <th>Update</th>
      </tr>
      <tr *ngFor="let arr of formArr">
        <td>{{arr.fname}}</td>
        <td>{{arr.lname}}</td>
        <td>{{arr.select}}</td>
        <td>{{arr.religion}}</td>
        <td>{{arr.date}}</td>
        <td>{{arr.box}}</td>
        
        <td><button (click)="remove(arr)">Remove</button></td>
        <button (click)="negateToForm(arr)">Edit</button>
      </tr>
      <tr>
        
      </tr>

      </table>
      </div> -->